In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("/content/Fake_Real_Data.csv")
df.head(5)

                                                Text label
0   Top Trump Surrogate BRUTALLY Stabs Him In The...  Fake
1  U.S. conservative leader optimistic of common ...  Real
2  Trump proposes U.S. tax overhaul, stirs concer...  Real
3   Court Forces Ohio To Allow Millions Of Illega...  Fake
4  Democrats say Trump agrees to work on immigrat...  Real

In [3]:
df.shape

(9900, 2)

In [4]:
df["label"].value_counts()

Fake    5000
Real    4900
Name: label, dtype: int64

In [5]:
df["label_num"]=df["label"].map({"Fake" : 0,"Real" : 1})

In [6]:
df.head(5)

                                                Text label  label_num
0   Top Trump Surrogate BRUTALLY Stabs Him In The...  Fake          0
1  U.S. conservative leader optimistic of common ...  Real          1
2  Trump proposes U.S. tax overhaul, stirs concer...  Real          1
3   Court Forces Ohio To Allow Millions Of Illega...  Fake          0
4  Democrats say Trump agrees to work on immigrat...  Real          1

In [7]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(df.Text, df.label_num, test_size=0.2, random_state=42,stratify=df.label_num
                              )

In [8]:
print("shape of X_train",X_train.shape)
print("shape of X_test",X_test.shape)

shape of X_train (7920,)
shape of X_test (1980,)

using sklearn pipeline module create a classification pipeline to classify the Data.

In [10]:
from sklearn.metrics.pairwise import euclidean_distances
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.pipeline import Pipeline
from sklearn.metrics import classification_report
from sklearn.neighbors import KNeighborsClassifier

clf=Pipeline([ ("vecterizer_trigrame",CountVectorizer(ngram_range=(1,3))),
               ("KNN",(KNeighborsClassifier(n_neighbors=10,metric="euclidean")))
    
])
clf.fit(X_train,y_train)
prediction=clf.predict(X_test)
print(classification_report(y_test,prediction))

              precision    recall  f1-score   support

           0       0.94      0.46      0.62      1000
           1       0.64      0.97      0.77       980

    accuracy                           0.71      1980
   macro avg       0.79      0.72      0.69      1980
weighted avg       0.79      0.71      0.69      1980

In [11]:
clf=Pipeline([ ("vecterizer_trigrame",CountVectorizer(ngram_range=(1,3))),
               ("KNN",KNeighborsClassifier(n_neighbors=10,metric="cosine"))
    
])
clf.fit(X_train,y_train)
prediction=clf.predict(X_test)
print(classification_report(y_test,prediction))

              precision    recall  f1-score   support

           0       0.99      0.49      0.66      1000
           1       0.66      0.99      0.79       980

    accuracy                           0.74      1980
   macro avg       0.82      0.74      0.72      1980
weighted avg       0.83      0.74      0.72      1980

In [12]:
from sklearn.ensemble import RandomForestClassifier
clf=Pipeline([ ("vecterizer_trigrame",CountVectorizer(ngram_range=(1,3))),
               ("Randomforest",RandomForestClassifier())
    
])
clf.fit(X_train,y_train)
prediction=clf.predict(X_test)
print(classification_report(y_test,prediction))

              precision    recall  f1-score   support

           0       0.99      1.00      0.99      1000
           1       1.00      0.99      0.99       980

    accuracy                           0.99      1980
   macro avg       0.99      0.99      0.99      1980
weighted avg       0.99      0.99      0.99      1980