In [11]:
import spacy
nlp=spacy.load('en_core_web_sm')

Get all the proper nouns from a given text in a list and also count how many of them.

In [12]:
text = '''Ravi and Raju are the best friends from school days.They wanted to go for a world tour and 
visit famous cities like Paris, London, Dubai, Rome etc and also they called their another friend Mohan to take part of this world tour.
They started their journey from Hyderabad and spent next 3 months travelling all the wonderful cities in the world and cherish a happy moments!
'''

In [13]:
doc = nlp(text)

In [15]:
all_proper_noun=[]

In [28]:
for token in doc:
    if token.pos_ == 'PROPN':
        all_proper_noun.append(token)

In [29]:
print('Proper_nouns:' , all_proper_noun)
print('count:' ,len(all_proper_noun))

Proper_nouns: [Raju, Paris, London, Dubai, Rome, Mohan, Hyderabad]
count: 7

Get all companies names from a given text and also the count of them.

In [30]:
text = '''The Top 5 companies in USA are Tesla, Walmart, Amazon, Microsoft, Google and the top 5 companies in 
India are Infosys, Reliance, HDFC Bank, Hindustan Unilever and Bharti Airtel'''

doc=nlp(text
      )

In [39]:
all_company_names=[]
for ent in doc.ents:
    if ent.label_=="ORG":
      all_company_names.append(ent)

In [41]:
print('Company_Names :',all_company_names)
print('coount:' , len(all_company_names))

Company_Names : [Tesla, Walmart, Amazon, Microsoft, Google, Infosys, Reliance, HDFC Bank, Hindustan Unilever, Bharti]
coount: 10